<div ng-controller="usersController as credusrCtrl">
    <div class="alert alert-danger" ng-show="messages">
        Error: {{status}} {{messages}}
    </div>
    http://www.dwmkerr.com/the-only-angularjs-modal-service-youll-ever-need/
    <div class="panel panel-default left">
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchcriteria" ng-model="criteriaText">
                    <select class="form-control" ng-options="criteria as criteria.label for criteria in criterias track by criteria.id" ng-model="selected"></select>
                    <button ng-click="getUsers(criteriaText)" id="searchUser" class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span>  Search</button>
                </div>
            </form>
            <button ng-click="showAddUserDialog()" id="addUserDialog" class="btn btn-info" type="button"><span class="glyphicon glyphicon-plus"></span>  Add</button>
        </div>
    </div>
    <div class="maincontent">
        <div class="panel panel-default">
            <div class="panel-heading">
                Result
            </div>
            <div class="panel-body ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in credusrCtrl.users">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>